<div class="header-wraper">
  <div class="row">
    <div class="col-sm-4">
      <div class="icon"><span>Q</span></div>
      <div class="search-wraper">
        <input type="text" class="serach-input" />
        <i class="fa fa-search" ></i>
      </div>
    </div>
    <div class="col-sm-4 center-align title-wraper">
      <span>Message</span>
    </div>
    <div class="col-sm-4 align-right">
      <div class="download-div">Download APP</div>
      <div class="logout-div">Logout</div>
    </div>
  </div>
</div>
